body {
  background: url('/images/gray_jean/gray_jean.png');
}

.mainheader {
  color: #444;
  font-size: 80px;
  font-weight: 100;
}

.social_links {
  font-size: 60px;
  font-weight: 100;
  list-style: none;
  line-height: 60px;
  margin-left: -25px;
  text-align: right;
  &:hover {
    font-weight: 300;
  }
  &.tour {
    border-bottom: 1px solid #AAA;
    color: #00C708;
    clear: both;
    a {
      color: inherit;
      clear: both;
      display: block;
      float: right;
    }
    &:hover {
      font-weight: 100;
    }
  }
}

.tour_details {
  font-size: 22px;
  font-weight: 200;
  clear: both;
  float: right;
  list-style: none;
  padding-bottom: 20px;
  &:hover {
    font-weight: 500;
  }
}

.tweet {
  font: inherit !important;
}

.panel {
  border-radius: 6px;
  background: #c2c2c2;
}
