body {
  background: url('/images/gray_jean/gray_jean.png');
}

.mainheader {
  color: #444;
  font-size: 80px;
  font-weight: 100;
}

.social_links {
  font-size: 60px;
  font-weight: 100;
  list-style: none;
  line-height: 60px;
  margin-left: -25px;
  text-align: right;
}

.tweet {
  font: inherit !important;
}

.panel {
  background: #bbb;
}
