/* line 1, ../../views/stylesheets/vinny.scss */
body {
  background: url("/images/gray_jean/gray_jean.png");
}

/* line 4, ../../views/stylesheets/vinny.scss */
.mainheader {
  color: #444;
  font-size: 80px;
  font-weight: 100;
}

/* line 10, ../../views/stylesheets/vinny.scss */
.social_links {
  font-size: 60px;
  font-weight: 100;
  list-style: none;
  line-height: 60px;
  margin-left: -25px;
  text-align: right;
}
/* line 17, ../../views/stylesheets/vinny.scss */
.social_links:hover {
  font-weight: 300;
}
/* line 20, ../../views/stylesheets/vinny.scss */
.social_links.tour {
  border-bottom: 1px solid #aaaaaa;
  color: #00C708;
  clear: both;
}
/* line 24, ../../views/stylesheets/vinny.scss */
.social_links.tour a {
  color: inherit;
  clear: both;
  display: block;
  float: right;
}
/* line 30, ../../views/stylesheets/vinny.scss */
.social_links.tour:hover {
  font-weight: 100;
}

/* line 36, ../../views/stylesheets/vinny.scss */
.tour_details {
  font-size: 22px;
  font-weight: 200;
  clear: both;
  float: right;
  list-style: none;
  padding-bottom: 20px;
}
/* line 43, ../../views/stylesheets/vinny.scss */
.tour_details:hover {
  font-weight: 500;
}

/* line 48, ../../views/stylesheets/vinny.scss */
.tweet {
  font: inherit !important;
}

/* line 52, ../../views/stylesheets/vinny.scss */
.panel {
  border-radius: 6px;
  background: #c2c2c2;
}

@media screen and (max-width: 500px) {
  /* line 58, ../../views/stylesheets/vinny.scss */
  .mainheader {
    font-size: 60px;
  }

  /* line 61, ../../views/stylesheets/vinny.scss */
  .social_links {
    font-size: 50px;
  }
}
